/* Sticky footer styles
  -------------------------------------------------- */

html,
body {
    height: 100%;
    color: #34495e;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 100px;
}
#footer {
    background: #3B3B3B;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


#project_content{
    padding-bottom: 3em;

}

div#project_content, div#message_content{
    margin-top: 80px;
}



table,.btn,.panel{
border-radius(0) !important;

}

table, .btn,.panel{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.glyphicon-user, .glyphicon-list-alt, .glyphicon-plus, .glyphicon-log-out, .glyphicon-cog{
    margin-right: 5px;
}
.glyphicon-usd{
    margin-right: 2px;
    margin-bottom: -2px;
}
.glyphicon-paperclip{
    margin-right: 5px;
    padding: 0px;
}

/* Signup */
div.register{
    margin-top: 20px;
}

#signup{
    padding: 20px;
}

div.panel{
    -moz-box-shadow: 3px 3px 25px 0px #777777;
    -webkit-box-shadow: 3px 3px 25px 0px #777777;
    box-shadow: 3px 3px 25px 0px #777777;
}



ul{
    list-style-position: inside;
    margin-left: -40px;
}

ul li{
    margin: none;
}

body{
    background: url("../img/white_wall_hash.png") repeat;
}


/* Projects */
a.navbar-brand{
    padding: 0px;
}

div.project-panel{
    padding: 20px;
}

#project_content .pay-button{
    margin-left: 10px;
}

#project_content .label{
    padding: 10px;
    border-radius: 0;
    font-size: 0.9em;
}

#project_content .panel{
    border-color: #F78E3F;
}

#project_content .panel-heading{
  background-color: #D35400;
  border-color: #E67E22;
  border-radius: 0;
}

div.register div.register-heading{
    background-color: #D35400;
    border-color: #E67E22;
    color: #fff;
    border-radius: 0;
}

div.register div.login-heading{
    background-color: #16A085;
    border-color: #1ABC9C;
    color: #fff;
    border-radius: 0;
}

div.register div.login-panel{
    border-color: #1ABC9C;
}

div.register div.register-panel{
    border-color: #E67E22;
}



#project_content div.file-row div.img{
    display: inline;
    padding: 0px;
}
#project_content div.file-row{
    padding: 5px;
}

#project_content .attach-text{
    padding-left: 0.5em;
}

#project_content .attach{
    cursor: pointer;
}

#project_content i.fa-plus-square{
    color: #16A085;
}

#project_content i.fa-minus-square{
  color: #C0392B;
}

#project_content .form-control, #signup .form-control, div.register .form-control{
    border: 2px solid #bdc3c7;
    color: #34495e;
    border-radius: 0;
}
#signup .form-control, div.register .form-control
{
    height: 40px;
}


#project_content .file-row-display{
    display: inline-block;
}
#project_content .file-row-hidden{
    display: none;
}
#project_content span.not-read{
   background-color: #2ECC71;
}
#project_content div.project-stat{
    background-color: #fff;
    height: 200px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    position: relative;
    left: 2em;
    padding: 0;
}
#project_content .project-status h1{
    font-size: 0.8em;
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 15px;
}

#project_content .project-status h1.title-pending,#project_content .project-status .number-stat-pending{
     color: #EB5739;
}

#project_content .project-status h1.title-processing,#project_content .project-status .number-stat-processing{
    color: #E67E22;
}

#project_content .project-status h1.title-completed,#project_content .project-status .number-stat-completed{
    color: #16A085;
}

#project_content .project-status .number-stat{
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;
}

#project_content table td{
    vertical-align: 0;
    line-height: 1em;
}

#project_content table td span.project-title a{
    color: #2980B9;
}

#project_content .alert{
    background-color: #9B59B6;
    border-radius: 2px;
    color: #fff;
}

#register_content .alert{
    background-color: #E74C3C;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
}








#message_content .message-date{
    float: right;
    font-size: 0.8em;
}

#message_content .attachment{
    float: right;
    margin-right: 10px;

}

#message_content .panel-heading{
    border-radius: 0;
}

#message_content .panel-warning .panel-heading{
    background-color: #D35400;
    color: #fff;
}

#message_content .panel-warning{
     border-color: #E67E22;
}

#message_content .panel-warning .panel-title{
    color: #fff;
}

#message_content .panel-success .panel-heading{
    background-color: #16A085;
    color: #fff;
}

#message_content .panel-success{
    border-color: #1ABC9C;
}

#message_content .panel-success .panel-title{
    color: #fff;
}

#message_content .panel-danger .panel-heading{
    background-color: #C0392B;
    color: #fff;
}

#message_content .panel-danger{
    border-color: #E74C3C;
}

#message_content .panel-danger .panel-title{
    color: #fff;
}

#message_content .panel-default .panel-heading{
    background-color: #7F8C8D;
    color: #fff;
}

#message_content .panel-default{
    border-color: #95A5A6;
}

#message_content .panel-default .panel-title{
    color: #fff;
}





/* FONT */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-black-webfont.eot');
    src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black-webfont.woff') format('woff'), url('../fonts/lato/lato-black-webfont.ttf') format('truetype'), url('../fonts/lato/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-bold-webfont.eot');
    src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bold-webfont.woff') format('woff'), url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-bolditalic-webfont.eot');
    src: url('../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-bolditalic-webfont.woff') format('woff'), url('../fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-italic-webfont.eot');
    src: url('../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-italic-webfont.woff') format('woff'), url('../fonts/lato/lato-italic-webfont.ttf') format('truetype'), url('../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-light-webfont.eot');
    src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light-webfont.woff') format('woff'), url('../fonts/lato/lato-light-webfont.ttf') format('truetype'), url('../fonts/lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-regular-webfont.eot');
    src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-regular-webfont.woff') format('woff'), url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Flat-UI-Icons';
    src: url('../fonts/Flat-UI-Icons.eot');
    src: url('../fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/Flat-UI-Icons.woff') format('woff'), url('../fonts/Flat-UI-Icons.ttf') format('truetype'), url('../fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Flat-UI */

#project_content .btn-success{
   margin-bottom: 0.2em;
}


.btn-success{
    color: #ffffff;
    background-color: #1abc9c;
    border-bottom: 1px solid #16A085;
    font-size: 1em;
}

.create-project .btn-success{
    width: 100px;
    font-size: 16px;

}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success{
    color: #ffffff;
    background-color: #48c9b0;
    border-color: #48c9b0;
}

