<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">BizExplainer</a>
			<ul class="nav">
				<li class="active"><a href="/">Home</a>
				<li ><a href="/about/">About</a>
				<li ><a href="/docs/">Docs</a>
				<li ><a href="/install/">Install</a>
				<li ><a href="/hack/">Hack</a>
			</ul>
		</div>
	</div>
</div>