<!DOCTYPE html>
<html>
<head>
  <title>BizExplainer</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.css"/>
  <link rel="stylesheet" href="/assets/css/style.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.js"></script>

  <!-- [if lt IE 9] -->

</head>
<body>
	<%= render 'layouts/header' %>
		<div class="container">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}"  %>
          <% end %>

			<%= yield %>			
		
			<%= debug(params) %>
		</div>

</body>
</html>
