<!DOCTYPE html>
<html>
<head>
  <title>BizExplainer</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.css"/>
  <link rel="stylesheet" href="/assets/css/style.css"/>
  <script src="/assets/js/bootstrap.js"></script>
  <!-- [if lt IE 9] -->

</head>
<body>
		<div class="container">
			<%= yield %>			
		
			<%= debug(params) %>
		</div>

</body>
</html>